*{
  scroll-behavior: smooth;
}

.container-fluid{
  padding: 3% 15%
}
h1{
  font-family: 'Oswald', sans-serif;
  color: #4B0082;
  text-align: left;
  font-size: 8vw;
  white-space: nowrap;
  position: relative;
  top: -280px;
  left: -280px;
}

@media screen and (max-width: 1400px) {
  h1 {
    top: -280px;
    left: -200px;
  }
}

@media screen and (max-width: 1000px) {
  h1 {
    top: -280px;
  left: -100px;
  }
}



h2{
  color: #4B0082;
  font-size: 2.5;
  font-weight: bold;
  font-family: 'Oswald', sans-serif;
}
h3{
  font-family: 'Oswald', sans-serif;
  color: #4B0082;
}
p{
  font-family: 'Open Sans', sans-serif;
  color: #4B0082;
  font-size: 0.8rem;
}

h6{
  font-family: 'Oswald', sans-serif;
  color: #f8f8f8;
  text-align: left;
  margin-left: 20px;
  font-size: 8vw;
}


.headerthing{
  font-size: 20px;
  font-family: 'oswald', sans-serif;
  margin-block-start: 2.33em;
  margin-block-end: 2.33em;
  margin-bottom: 5px;
}

p.smallheader{
  margin-bottom: 1.5px;
}

.about{
  background-color: #f8f8f8;
  padding: 50px 0;
  padding-left: 50px;
}

.aboutme{
  background-color: #f8f8f8;
  font-family: 'Open Sans', sans-serif;
  color: #4B0082;
  font-size: 2vw;
  margin-top: 20px;
}

section {
  height: 100vh;
}

.workclass{
  background-color: #4B0082;
  height: auto; 
}

/* fog pic stuff */

#intro {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

#intro .bigpic {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  object-position: center;
}

.bigvid {
  width: 100%;
  height: auto;
  max-width: 100vw;
}

#intro .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#intro .content-secondary{
  position: absolute;
  top: 80%;
  left: 5%;
  text-align: left;
}

#intro .content-tertiary{
  position: absolute;
  top: 80%;
  left: 20%;
  text-align: left;
}

@media screen and (max-width: 1024px) {
  #intro .content-tertiary {
    position: absolute;
    top: 80%;
    left: 25%;
    text-align: left;
  }
}

@media screen and (max-width: 768px) {
  #intro .content-tertiary {
    position: absolute;
    top: 80%;
    left: 30%;
    text-align: left;
  }
}

/* fixed navbar */
.navbar {
  position: fixed;
  top: 5px;
  right: 5px;
  z-index: 1000;
}
.navbar a {
  display: block;
  background-color: #f8f8f8;
  color: #4B0082;
  text-align: center;
  padding: 5px 10px 5px;
  margin-bottom: 5px;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
  border: 1px solid #4B0082;
}
.navbar a:hover {
  background-color: #4B0082;
  color: #f8f8f8;
}

/* Download Buttons */

.download-button{
  display: block;
  flex-direction: column;
  background-color: #4B0082;
  color: #f8f8f8;
  text-align: center;
  padding: 10px 20px;
  margin: 15px auto 5px;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 100px;
  width: 12vw;
  font-size: 1.2vw;
}

.download-button:hover {
  background-color: #f8f8f8;
  color: #4B0082;
  border: 1px solid #4B0082;
}

/* Title Image */

.title-image{
  width: 50%;
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 50px;
  padding-top: 20px;
}

.abouttext {
  padding: 20px;
}



.resume-button{
  display: flex;
  background-color: #4B0082;
  color: #f8f8f8;
  text-align: center;
  padding: 10px 25px;
  margin-top: 15px;
  margin-bottom: 5px;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 100px;
  width: 12vw;
  font-size: 1.2vw;
}

@media screen and (max-width: 768px) {
  .resume-button {
    width: 100px;
    font-size: 0.6rem;
  }
}

.resume-button:hover {
  background-color: #f8f8f8;
  color: #4B0082;
  border: 1px solid #4B0082;
  text-decoration: none;
}

/* My Work */

#work {
  text-align: center;
  background-color: #4B0082;
  padding-top: 50px;
  padding-bottom: 50px;
}

.captiontitle{
  font-family: 'oswald', sans-serif;
  color: #f8f8f8;
  font-size: 4vw;
  margin-top: 10px;
}



.workbuttonfirst{
  display: block;
  background-color: #f8f8f8;
  color: #4B0082;
  text-align: center;
  padding: 5px 10px 5px;
  margin-bottom: 5px;
  margin-top: 15px;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
  border: 1px solid #4B0082;
  border-radius: 100px;
  width: 150px;
  margin: 0 auto;
}

.workbuttonfirst:hover {
  background-color: #4B0082;
  color: #f8f8f8;
  border-color: #f8f8f8;
  text-decoration: none;
}

.workbuttonsecond{
  display: block;
  background-color: #4B0082;
  color: #f8f8f8;
  text-align: center;
  padding: 5px 10px 5px;
  margin-bottom: 5px;
  margin-top: 15px;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
  border: 1px solid #f8f8f8;
  border-radius: 100px;
  width: 150px;
  margin: 0 auto;
}

.workbuttonsecond:hover {
  background-color: #f8f8f8;
  color: #4B0082;
  text-decoration: none;
}

.workbuttonthird{
  display: block;
  background-color: #4B0082;
  color: #f8f8f8;
  text-align: center;
  padding: 5px 10px 5px;
  margin-bottom: 5px;
  margin-top: 15px;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
  border: 1px solid #f8f8f8;
  border-radius: 100px;
  width: 150px;
  margin: 0 auto;
}

.workbuttonthird:hover {
  background-color: #f8f8f8;
  color: #4B0082;
  text-decoration: none;
}

.workbuttonfirst,
.workbuttonsecond,
.workbuttonthird {
  margin-bottom: 30px !important;
}

.bigcards {
  overflow: hidden;
}

.image-container {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 300px;
  margin-bottom: 20px;
}

.image-container img {
  width: auto;
  height: 100%;
  transition: transform 0.3s ease-in-out;
}

.image-container:hover img {
  transform: scale(1.1);
}

@media screen and (max-width: 768px) {
  .bigcards img {
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 992px) {
  .bigcards img {
    width: 100%;
    height: auto;
  }
}


@media screen and (max-width: px) {
  .bigcards img {
    width: 100%;
    height: auto;
  }
}

/* Gallery */

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

p.footer{
  text-align: center;
  margin-bottom: 10px;
}

.design{
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.wrapper {
  position: relative;
  width: 100%;
}

.video-buttons {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(-50%, -50%);
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video-button {
  background-color: #4B0082;
  color: #f8f8f8;
  text-align: center;
  padding: 10px 25px;
  margin-top: 15px;
  margin-bottom: 5px;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 100px;
  font-size: 1.2vw;
  width: 12vw;
}

@media screen and (max-width: 768px) {
  .video-button {
    width: 100px;
    font-size: 0.6rem;
  }
}

.video-button:hover {
  background-color: #f8f8f8;
  color: #4B0082;
  border: 1px solid #4B0082;
  text-decoration: none;
}

.doctitle{
  text-align: center;
  margin-top: 20px;
  font-size: 5vh;
}